{% extends 'base.html.twig' %}

{% block title %}Catalog{% endblock %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            $("#filter_price").on('slidestop', function(event, ui) {
                jQuery('#priceFrom').val(ui.values[0]);
                jQuery('#priceTo').val(ui.values[1]);
                jQuery('#page').val(1);
                findProducts();
            }).on('slidecreate', function(event, ui) {
                jQuery('#filter_price').slider('option', 'max', {{ maxPrice }}).slider('option', 'values', [0, {{ maxPrice }}]);
            });
            jQuery('select.filter_sort_by').bind('change', (e) => {
                let sort = jQuery(e.target).val().split('_');
                jQuery('#sortBy').val(sort[0]);
                jQuery('#sortDir').val(sort[1]);
                findProducts();
            });
            jQuery('.checkbox, #amount_from, #amount_to').bind('change', (e) => {
                jQuery('#page').val(1);
                findProducts();
            });
            setPage(1);
        });

        function findProducts() {
            let
                page = parseInt(jQuery('#page').val()),
                perPage = parseInt(jQuery('#perPage').val()),
                filter = {},
                sortBy = jQuery('#sortBy').val(),
                sortDir = jQuery('#sortDir').val();

            filter['category'] = [];
            jQuery('.filterCategory').each((i, element) => {
                $checkbox = jQuery(element);
                if($checkbox.prop('checked') == true) {
                    filter['category'].push(parseInt($checkbox.data('id')));
                }
            });
            filter['master'] = [];
            jQuery('.filterMaster').each((i, element) => {
                $checkbox = jQuery(element);
                if($checkbox.prop('checked') == true) {
                    filter['master'].push(parseInt($checkbox.data('id')));
                }
            });
            filter['technique'] = [];
            jQuery('.filterTechnique').each((i, element) => {
                $checkbox = jQuery(element);
                if($checkbox.prop('checked') == true) {
                    filter['technique'].push(parseInt($checkbox.data('id')));
                }
            });

            filter['priceFrom'] = parseInt(jQuery('#priceFrom').val());
            filter['priceTo'] = parseInt(jQuery('#priceTo').val());

            jQuery.post('{{ path('catalog_find_products') }}', {'filter': filter, 'sortBy': sortBy, 'sortDir': sortDir, 'page': page, 'perPage': perPage}, (response) => {
                if(response.code === 200) {
                    jQuery('.category_items').html(response.resultHtml);
                    rebuildPagination(page, perPage, response.totalCount);
                }
                else if(response.code === 404) {
                    jQuery('.category_items').html('<div style="display:block;font-size: 20px;text-align: center;">' + response.error + '</div>');
                    jQuery('.paginations').find('li').remove();
                }
                else alert(response.error);

            }, 'json');
        }

        function rebuildPagination(page, perPage, totalCount) {
            $paginationContainer = jQuery('.paginations');
            // clear prev
            $paginationContainer.find('li').remove();
            // generate
            let
                pages = parseInt(totalCount / perPage);
            pages +=  totalCount % perPage > 0 ? 1 : 0
            if(page > 1) {
                if(page - 3 > 1) $paginationContainer.append('<li class=""><a href="#1" data-page="1">&lt;&lt;</a></li>');
                $paginationContainer.append('<li class="prev"><a href="#" data-page="' + (page - 1) + '"></a></li>');
            }

            for(p = page - 3; p <= page + 3; p++) {
                if(p <= 0 || p > pages) continue;
                if(p == page) $paginationContainer.append('<li class="active"><a href="#" data-page="' + p + '"><span>' + page + '</span></a></li>');
                else $paginationContainer.append('<li><a href="#" data-page="' + p + '">' + p + '</a></li>');
            }

            if(page < pages) {
                $paginationContainer.append('<li class="next"><a href="#' + (page + 1) + '" data-page="' + (page + 1) + '"></a></li>');
                if(page + 3 < pages) $paginationContainer.append('<li class=""><a href="#" data-page="' + pages + '">&gt;&gt;</a></li>');
            }

            // bind onClick
            $paginationContainer.find('li a').bind('click', function() {
                let dataPage = parseInt(jQuery(this).data('page'));
                if(dataPage > 0) setPage(dataPage);
            });
        }

        function setPage(page) {
            page = parseInt(page);
            if(page <= 0) page = 1;
            jQuery('#page').val(page);
            findProducts();
        }
    </script>
{% endblock %}

{% block body %}
    <input type="hidden" id="page" value="1" />
    <input type="hidden" id="perPage" value="12" />
    <input type="hidden" id="sortBy" value="id" />
    <input type="hidden" id="sortDir" value="ASC" />
    <input type="hidden" id="priceFrom" value="0" />
    <input type="hidden" id="priceTo" value="{{ maxPrice }}" />

    <div class="adb_pic_wd" style="background-image: url(img/category_bg.jpg);">
        <div class="wrapper">
            <ul class="breadcrumbs">
                <li><a class="underscore" href="index.php">Главная</a></li>
                <li><a class="underscore" href="index.php">Каталог</a></li>
                <li><span>Живопись</span></li>
            </ul>
        </div>
    </div>
    <section class="category">
        <div class="wrapper">
            <h1 class="title">Каталог</h1>
            <div class="category_nav">
                <a href="category.php" class="button || active"><span>Живопись</span><i class="ic_dir_arrow"></i></a>
                <a href="category.php" class="button"><span>Графика</span><i class="ic_dir_arrow"></i></a>
                <a href="category.php" class="button"><span>Изделия</span><i class="ic_dir_arrow"></i></a>
            </div>
            <div class="rows">
                <!-- CATEGORY SIDEBAR -->
                <aside class="category_sidebar">
                    <h3 class="h3">Показать</h3>
                    <div class="filterWrap isOpened">
                        <div class="filterHead">Цена</div>
                        <div class="filterBody filterSlider">
                            <div id="filter_price"></div>
                            <div class="rows">
                                <input type="text" id="amount_from" class="from" value="" readonly style="border:0;">
                                <input type="text" id="amount_to" class="to" value="" readonly style="border:0;">
                            </div>
                        </div>
                    </div>
                    <div class="filterWrap isOpened">
                        <div class="filterHead">Мастер</div>
                        <ul class="filterBody">
                            {% for master in masters %}
                            <li>
                                <input type="checkbox" class="checkbox filterMaster" data-id="{{ master.id }}" id="filter_ch_{{ master.id }}">
                                <label for="filter_ch_{{ master.id }}">{{ master.name }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="filterWrap isOpened">
                        <div class="filterHead">Категория</div>
                        <ul class="filterBody">
                            {% for category in categories %}
                            <li>
                                <input type="checkbox" class="checkbox filterCategory" data-id="{{ category.id }}" id="filter_cc_{{ category.id }}">
                                <label for="filter_cc_{{ category.id }}">{{ category.name }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="filterWrap isOpened">
                        <div class="filterHead">Техника</div>
                        <ul class="filterBody">
                            {% for technique in techniques %}
                            <li>
                                <input type="checkbox" class="checkbox filterTechnique" data-id="{{ technique.id }}" id="filter_ct_{{ technique.id }}">
                                <label for="filter_ct_{{ technique.id }}">{{ technique.name }}</label
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </aside>
                <!-- CATEGORY CONTENT -->
                <div class="category_content">
                    <div class="rows">
                        <select name="" class="filter_sort_by" data-placeholder="Сортировка">
                            <option value="id_ASC"></option>
                            <option value="id_DESC">Новейшие</option>
                            <option value="price_ASC">По возрастанию цены</option>
                            <option value="price_DESC">По убыванию цены</option>
                            <option value="name_ASC">Название А-Я</option>
                            <option value="name_DESC">Название Я-А</option>
                        </select>
                    </div>
                    <ul class="paginations">
                    </ul>
                    <div class="category_items">
                    </div>
                    <ul class="paginations">
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
