{% if product is defined %}
<div class="category_item" style="background-image: url('{{ product.image }}');">
    <div class="img" style="background-image: url('{{ product.image }}');">
        <span style="position: absolute; top: 10px; left: 10px; background-color: tomato; padding: 5px; border-radius: 5px; font-size: 12px;">{{ product.master.name }}</span>
        <span style="position: absolute; top: 40px; left: 10px; background-color: brown; padding: 5px; border-radius: 5px; font-size: 12px;">{{ product.category.name }}</span>
        <span style="color: white; position: absolute; top: 70px; left: 10px; background-color: darkred; padding: 5px; border-radius: 5px; font-size: 12px;">{{ product.technique.name }}</span>
    </div>
    <div class="category_info">
        <h3 class="hh"><span>{{ product.name }}</span></h3>
        <div class="currency || js_DropWrap">
            <div><span>{{ product.price }} руб.</span><i class="currency_btn || js_DropBtn"></i></div>
            <ul class="currency_box || js_DropBox">
                <li class="cur_item">USD</li>
                <li class="cur_item">EUR</li>
            </ul>
        </div>
        <div class="category_btns">
            <a href="product.php" class="button"><span>Подробнее</span><i class="ic_dir_arrow"></i></a>
            <button class="button"><span>В корзину</span><svg class="icon icon-cart"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/svgdefs.svg#icon-cart"></use></svg></button>
        </div>
    </div>
</div>
{% endif %}